
@font-face {
    font-family: "Sketchy";
    src:url("fonts/Sketchy.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"raleway-bold";
    src:url("fonts/Raleway-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"raleway-regular";
    src:url("fonts/Raleway-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"raleway-thin";
    src:url("fonts/Raleway-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"uni_sans_heavy";
    src:url("fonts/uni_sans_heavy.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"uni_sans_thin";
    src:url("fonts/uni_sans_thin.otf");
    font-weight: normal;
    font-style: normal;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

body {
    background: #fff;
    margin:0px;

}


/*Background in heading settings*/
#head-background{
    position: relative;
    background-image: url(images/chalk_board.png);
    height:95vh;
    width:100%;
    background-position: 50% 0%;
    background-size: cover;
    display: table;
    margin:0;
}


.menu {
    position: fixed;
    right: -290px;
    width: 350px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}


.menu.menu-open {
    right: 0px;
}

.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #2E2E2E;
    width: 300px;
    height: 100%;
}

.menu h1.logo a {
    font-family:  "font_awesome" ;
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 0.15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
}

.menu h1.logo a:hover {
    color: #D91A2A;
}

.menu img.logo {
    margin: 20px 0;
    max-width: 160px;
}

.menu a {
     font-family: "uni_sans_thin" ;
    margin-left: 20px;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

.menu a:hover {
    color: #0583F2;
}

.menu a:active {
    color: #7BBF4B;
}

.menu a > i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 14px;
    line-height: 40px;
    margin: 25px 2px;
}

.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 20px;
    color: #808080;
    width: 250px;
    height: 40px;
    line-height: 40px;
    top: 28px;
    right: -200px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.menu-close:hover {
    color: #0583F2;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.menu-close:active {
    color: #D91A2A;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}


/* Push the body after clicking the menu button */
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.body-push-toright {
    left: 300px;
}

.body-push-toleft {
    left: -300px;
}

.menu,
.body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0,0,0,0.25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#menuToggle:hover {
    color: #ffffff;
    background: rgba(0,255,0,0.2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}


/*Aligning headings h1 and h3*/
.heading{
    display: table-cell;
    vertical-align: middle; /* wypośrodkowywanie treści w pionie */
}

.heading h1{
    font-size:5em;
    font-family:  "raleway-bold", arial;
    color:#fff;
    display:block;
    text-align: center;
    margin: auto;
}

.heading h3 {
    font-size:1.8em;
    font-family: "raleway-regular", arial;
    font-weight: 300;
    color:#FFF;
    text-align:center;
    margin:auto;
}

/*Down slider from arrow to next slide,
background shape, color and location of icon*/
.slide-down{
    position: absolute;
    left: calc(50% - 20px);
    top: calc(100% - 32.5px);
    border-radius: 50%;
    background: #fff;
    width: 65px;
    height: 65px;
}
.slide-down:hover{
    background: #7BBF4B;
    cursor: pointer;

}
.icon-scroll{
    position: relative;
    width: 65px;
    height: 65px;
    font-size: 3em;
    text-align: center;
    left:12.5%;
    top:15%;
    color:#2C5744;
    font-family: "raleway-regular", arial;
    text-decoration: none;
}
/*White separator under arrow*/

/*Container for second slide, paragraph about site*/
#container
{
    width:100%;
    height:100vh;
    display: table;
    background: #fff;
}
.about_site{

    height:200px;
    width: 100%;
    display: table-cell;
    vertical-align: middle; /* wypośrodkowywanie treści w pionie */
}
.about_site h3{
    font-size:2em;
    font-family: "raleway-bold", sans-serif;
    color:#2E2E2E;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}
.about_site p{
    font-size: 1.3em;
    font-family: "raleway-regular", arial;
    color:#2E2E2E;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

/*Size of features element*/
#features{
    width:100%;
    height:100vh;
    display:table;
}

/*Appereance of h3*/
#features h3{
    color:#7BBF4B;
    font-size:3.5em;
    font-weight: 900;
    font-weight: bold;
    text-align: center;

    /*text stroke*/
}

/*alignment all elements in features*/
.alignment{
    height:100vh;
    width: auto;
    margin: auto;
    display:table-cell;
    vertical-align: middle;
}

/*Size of Icons*/
span{
    font-size:4em;
}

/*Size of squares  WYZNACZYĆ MAX I MIN ROZMIARY*/
#services .service {
    width: 28vh;
    height: 28vh;
    overflow: hidden;
    position: relative;
    display:inline-block;
    font-size: 1em;
}
/*ELEMENT IN FEATURES drawing board*/


.empty-field{
    width: 28vh;
    height: 28vh;
    background: #2C5744;
    display:inline-block;
}
.contents{
    width: 28vh;
    height: 28vh;
    z-index: 0;
    display:table;
}

.chalk{
    width:40px;
    height:50px;
    background-image:url(images/chalk.png);
    position:absolute;
    top: 20vh;
    left:20vh;
    z-index: 5;
}

.contents p{
    position: relative;
    font-family: "sketchy";
    font-size:1.5em;
    color:white;
}

strong{
    font-size:1.2em;
    font-family: "raleway-bold";
}
.contents ul{
    list-style-image: url("images/checkmark.svg");
    position: relative;
    font-family: "sketchy";
    font-size:1em;
    color:white;
    text-align: left;
    line-height: 1.3em;
    display:table-cell;
    vertical-align: middle;
    right:2vh;
}

.contents span{
    font-family: "sketchy";
    color:white;
    font-size:2em;
    position: relative;
    top:1vh;
    left:24vh;
    cursor:pointer;
}


/*Appereance in mobile version*/
@media screen and (max-width: 600px) {
    #services .service {
        width: 50%;
    }
}
@media screen and (max-width: 320px) {
    #services .service {
        width: 100%;
    }
}

/*Appereance before change for description*/
#services .service .service-icon, #services .service .service-description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*squares color*/
    background: #2C5744;
    padding: 50px 0;
    /*text, icons color*/
    color: #fff;
}

/*Appereance after change for description*/
#services .service .service-description {
    left: 100%;
    background: #7BBF4B;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

/*Setting cursor for hand before change to description*/
#services .service .service-description:hover { 
    cursor: pointer;

}



/*box sizing layout for features*/
* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cf:before, .cf:after { 
    content: " ";
    display: table;
}
.cf:after { 
    clear: both;
}
.cf 
{ 
    *zoom: 1;
}

/*Appereance for all elements in features*/
#features{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: #999;
    background: #333;
    -webkit-font-smoothing: antialiased;
}

/*max-width, setting view for other resolutions*/
#services {
    max-width: 840px;
    margin: 0 auto;
}

/*setting cursor for hand and color of description and icon, after change to description*/
#services .service .service-icon:hover {
    cursor: pointer;
    color: #7BBF4B;

}

/*animation after click or hover icon element, time of changing color of icon and text*/
#services .service .service-icon span {
    display: block;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;

}

/*increase distance from bottom when hovered*/
#services .service .service-icon:hover span {
    position: relative;
    bottom: 5px;
}





